html, body, h1, p {
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-left: 200px;
}
img {
    border-radius: 15%;
    float: left;
    border: 1px solid black;
    box-shadow: 1px 1px 1px;
}
.img-bor {
    border: 1px solid #eee;
    padding-right: 0px;
    border-radius: 5%;
}
img.btn-img {
    border:none;
    width:40px;
    box-shadow:none;
}
p {
    font-size: 18px;
    line-height: 32px;
    margin: 25px 0;
}
.quote {
    font-size: 14px !important;
    margin: 10px 0;
    line-height: 20px;
}
cite.quote {
    font-size: 12px !important;
}

i.fa {
    font-size: 40px;
}
i.fa.fa-sun-o {
    font-size: 20px !important;
    color: yellow;
}
i.fa.fa-cloud {
    font-size: 20px !important;
    color: #999999;
}
i.fa.fa-moon-o {
    font-size: 20px !important;
    color: #0e033a;
}
ul {
    text-align: center;
}
.social li {
    margin-right: 40px;
    text-align: center;
}
.projects {
    margin-right: 0;
    text-align: left;
}
@media screen and (max-width: 550px) {
    h1 {
        font-size: 24px;
        margin-left: 0;
    }
    img {
        float: none;
        margin: 0 auto;
        border-radius: 0%;
        padding-right:0;
        border: 1px solid black;
        border-radius: 50%;
        box-shadow: 1px 1px 1px;
    }
}