html, body, h1, p {
    font-family: 'Roboto', sans-serif;
}
h1 {
    /*margin-top: 70px;*/
}
img {
    height: 100px;
    padding-right: 30px;
    border-radius: 15%;
}
.img-bor {
    border: 1px solid #eee;
    padding-right: 0px;
    border-radius: 5%;
}
p {
    font-size: 18px;
    line-height: 32px;
    margin: 25px 0;
}
.quote {
    font-size: 14px !important;
    margin: 10px 0;
    line-height: 20px;
}
cite.quote {
    font-size: 12px !important;
}

i.fa {
    font-size: 40px;
}
i.fa.fa-sun-o {
    font-size: 20px !important;
    color: yellow;
}
i.fa.fa-cloud {
    font-size: 20px !important;
    color: #999999;
}
i.fa.fa-moon-o {
    font-size: 20px !important;
    color: #0e033a;
}
ul {
    text-align: center;
}
.social li {
    margin-right: 40px;
    text-align: center;
}

.projects {
    margin-right: 0;
    text-align: left;
}