<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Jeff Reiher">
    <meta name='copyright' content="DSAC LLC">
    <meta name='language' content="english">
    <meta name="robots" content="index, follow">

    <title>Jeff Reiher</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>


    <body>
        <div class="container">
                    
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">            
                            <!-- <img class="pull-right" src="http://placehold.it/100x100"> -->
                            <h1><img src="{{ url_for('static', filename='twitter_pro_pic.jpg') }}">Hey there, I'm Jeff Reiher</h1> 
                        </div>
                    </div>
                            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                     <p>I'm a self taught programmer currently looking for a job in the technical field.</p>

                    <p>Previously, in my former (non-programming) life I was in sales.&nbsp;  After living in <a href="https://en.wikipedia.org/wiki/Costa_Rica">Costa Rica</a> for 5 years and working for different sports books I saw lots of opportunity's for people who knew how to code.</p>  

                    <p>My dream job would be to have a job programming that would allow me to live in Costa Rica.</p>  

                    <p>Here is a <a href="{{ url_for('projects') }}"> portfolio</a> of some skills that I have.&nbsp;  Please check out my <a href="https://github.com/jreiher2003" target="_blank">github</a>.</p>
                    <p> You can contact me at <a href="me@jeffreiher.com">me@jeffreiher.com</a>. &nbsp;My latest resume is available <a href="#">here</a>.</p>
                    <hr>
                      <ul class="list-inline">
                        <li style="padding-left:0px;"><a href="https://github.com/jreiher2003" target="_blank" class="git"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/pub/jeff-reiher/48/9b7/132" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></li></a></li>
                        <li><a href="https://twitter.com/BigJeffDogg" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/jeff.reiher" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul> 
                    <hr>
                    <blockquote>
                        <p>{{ QUOTE[0] }}</p>
                       <footer><cite>{{ QUOTE[1] }}</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

       
        
        
                   
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
    </body>
</html>