<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Jeff Reiher">
    <meta name='copyright' content="DSAC LLC">
    <meta name='language' content="english">
    <meta name="robots" content="index, follow">
    <title>Jeff Reiher</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <span class="pull-left">
                        <b>{{ weather.name }}, FL.</b> <i>{{ weather.weather[0].description }}</i>
                        {% if sunrise < dt and dt <= sunset  %}
                            {% if weather.weather[0].main == "Clear" %}
                                <i class="fa fa-sun-o" aria-hidden="true"></i> and its <u>{{ weather.main.temp }}&#176;F</u> outside.
                                {% elif weather.weather[0].main == "Clouds" %}
                                <i class="fa fa-cloud" aria-hidden="true"></i> and its <u>{{ weather.main.temp }}&#176;F</u> outside.
                            {% endif %}
                        {% elif dt > sunset %}
                            {% if weather.weather[0].main == "Clear" %}
                                <i class="fa fa-moon-o" aria-hidden="true"></i><i class="fa fa-sun-o" aria-hidden="true"></i> and its <u>{{ weather.main.temp }}&#176;F</u> outside.
                                {% elif weather.weather[0].main == "Clouds" %}
                                <i class="fa fa-moon-o" aria-hidden="true"></i><i class="fa fa-cloud" aria-hidden="true"></i> and its <u>{{ weather.main.temp }}&#176;F</u> outside.
                            {% endif %}
                        {% endif %}
                    </span>
                    <span class="pull-right">
                        <b>{{ user_weather.name }}, FL.</b> <i>{{ user_weather.weather[0].description }}</i>
                            {% if user_weather.weather[0].main == "Clear" %}
                                <i class="fa fa-sun-o" aria-hidden="true"></i> and its <u>{{ user_weather.main.temp }}&#176;F</u> outside.
                                {% elif user_weather.weather[0].main == "Clouds" %}
                                <i class="fa fa-cloud" aria-hidden="true"></i> and its <u>{{ user_weather.main.temp }}&#176;F</u> outside.
                            {% endif %}
                    </span>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <blockquote>
                        <p class="quote">{{ quote.quote }}</p>
                       <footer><cite class="quote">{{ quote.author }}</cite></footer>
                    </blockquote><hr> 
                    <div class="row">
                        <div class="col-md-12">
                            <img class="pull-left img-responsive" src="{{ profile.avatar_url }}"><h1>Hey there, I'm Jeff Reiher <br><small style="font-size:14px;"><i>Thanks for visiting my page from {{ user_loc.city }}, {{ user_loc.region }} {{ user_loc.postal }} {{ user_loc.country }}</i></small></h1>
                            <small class="text-muted">{{ dt|date_s}}</small>
                        </div>
                    </div>
                </div>
            </div>
                            
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                     <p>I'm a self taught programmer currently looking for a job in the technical field.</p>
                    <p>Previously, in my former (non-programming) life I was in sales.&nbsp;  Living in <a href="https://en.wikipedia.org/wiki/Costa_Rica">Costa Rica</a> for 5 years was a life changing experience. I became interested in programming and saw lots of opportunity's for people who knew how to code.</p>  
                    <p>I wake up everyday with ambition to be the best programmer I can be.</p>  
                    <p>Here is a <a href="{{ url_for('projects') }}"> portfolio</a> of some skills that I have.&nbsp;<small class="text-muted">(I try to keep it updated.)</small><br>  Please check out my <a href="{{ profile.url }}" target="_blank">github</a>.</p>
                    <p> You can contact me at <a href="{{ profile.email }}">me@jeffreiher.com</a>. &nbsp;My latest resume is available <a href="{{ url_for('show_resume') }}">here</a>.</p>
                    <hr>
                      <ul class="list-inline social">
                        <li style="padding-left:0px;"><a href="https://github.com/jreiher2003" target="_blank" class="git"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/pub/jeff-reiher/48/9b7/132" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></li></a></li>
                        <li><a href="https://twitter.com/JeffreyReiher" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/jeff.reiher" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul> 
                    <hr>
                </div>
            </div>
        </div>

       <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-68828092-1', 'auto');
          ga('send', 'pageview');
        </script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
    </body>
</html>